body {
  font-size: 12px;
  align-items: center;
  background-image: url("img/wmB1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  font-family: "Courier New", Courier, monospace;
}
.divi {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.errori {
  padding: 30px;
  background-color: rgb(248, 162, 3);
}
.h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 2;
}

.h1 {
  font-size: 20px;
  line-height: 1.5px;
  font-weight: 700;
}

.inputi {
  padding: 10px 70px 10px 10px;
  border-radius: 9px;
  margin-bottom: 5px;
  border: none;
}
.inputi:focus {
  outline: none;
}

.buttoni {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 20px;
  padding: 5px 30px;
  background-color: rgb(223, 219, 6);
  color: #000;
  border-radius: 9px;

  border: none;
}

.buttoni:hover {
  background-color: rgba(209, 198, 42, 0.533);
  cursor: pointer;
}

#main {
  display: flex;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.country-img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.msquare {
  background-color: #fff;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.square {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
}

.country-continent,
.country-capital,
.country-population {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}
.country-name {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
}
.f-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.crp {
  font-size: 400;
  font-family: "Courier New", Courier, monospace;
  font-size: 9px;
}
.ash {
  text-decoration: underline;
}
.ash:hover {
  cursor: pointer;
  color: #a52a2a;
}
.asha {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 1015px) {
  body {
    font-size: 12px;
    align-items: center;
    background-image: url("img/wmB1.3.jpg");
    background-size: auto;
  }
  #main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  html {
    font-family: fantasy;
  }
  .h1 {
    font-size: 15px;
    line-height: 2;
    font-weight: 700;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  .country-img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    margin-bottom: 0;
    border-bottom: 1px solid black;
  }

  .msquare {
    background-color: #fff;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
  }
  .square {
    background-color: #fff;
    padding: 7px;
    border-radius: 15px;
  }

  .country-continent,
  .country-capital,
  .country-population {
    font-size: 7px;
    line-height: 1.5;
    font-weight: 400;
    font-family: fantasy;
  }
  .country-name {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
  }
}
@media (max-width: 440px) {
  body {
    font-size: 12px;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    background-image: url("img/wmB1.3.jpg");
    background-size: auto;
  }
  html {
    font-family: fantasy;
  }
  .country-img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    margin-bottom: 0;
    border-bottom: 1px solid black;
  }

  .msquare {
    background-color: #fff;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .square {
    background-color: #fff;
    padding: 6px;
    border-radius: 15px;
  }

  .country-continent,
  .country-capital,
  .country-population {
    font-size: 6px;
    line-height: 1;
    font-weight: 400;
  }
  .country-name {
    font-size: 10px;
    line-height: 1.5;
    font-weight: 600;
  }
  .inputi {
    padding: 7px 40px 7px 7px;
    border-radius: 9px;
    margin-bottom: 5px;
  }
  .buttoni {
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 20px;
    padding: 3px 15px;
    background-color: rgb(223, 219, 6);
    color: #000;
    border-radius: 9px;

    border: none;
  }
}
